Repository matthewbergvinson/odoo-devkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-odoo, odoo-type-checker, validate-odoo-module, xml-format-odoo, validate-odoo-csv

pylint-odoo:
  name: pylint-odoo
  entry: pylint
  language: python
  args:
  - --load-plugins=pylint_odoo
  - --rcfile=.pylintrc-odoo
  - --score=no
  additional_dependencies:
  - pylint-odoo>=8.0

odoo-type-checker:
  name: odoo-type-checker
  entry: python scripts/odoo-type-checker.py
  language: python
  pass_filenames: false
  verbose: true

validate-odoo-module:
  name: validate-odoo-module
  entry: python scripts/validate-module.py
  language: python
  pass_filenames: false
  verbose: true

xml-format-odoo:
  name: xml-format-odoo
  entry: python scripts/format-xml.py
  language: python
  pass_filenames: true

validate-odoo-csv:
  name: validate-odoo-csv
  entry: python -c "import csv, sys; [csv.reader(open(f)) for f in sys.argv[1:]]"
  language: python
  pass_filenames: true

docs: update README with complete documentation
  README.md
Due: none

Fix core issues: Add Makefile, complete documentation, fix requirements.txt
  Makefile
  requirements.txt
Due: none

Fix remaining testing issues and complete core fixes
  Makefile
  custom_modules/example_module/__manifest__.py
Due: pylint-odoo, odoo-type-checker, validate-odoo-module

Fix critical security validation error
  custom_modules/example_module/security/ir.model.access.csv
Due: validate-odoo-module, validate-odoo-csv

Complete bug hunting mission - All major issues resolved
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  reports/mypy/index.xml
  reports/mypy/xml/custom_modules/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/__manifest__.py.xml
  reports/mypy/xml/custom_modules/example_module/controllers/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/controllers/example_controller.py.xml
  reports/mypy/xml/custom_modules/example_module/models/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/models/example_model.py.xml
  reports/mypy/xml/custom_modules/example_module/tests/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/tests/test_example_model.py.xml
  reports/mypy/xml/scripts/debugpy-config.py.xml
  reports/mypy/xml/scripts/format-xml.py.xml
  reports/mypy/xml/scripts/odoo-type-checker.py.xml
  reports/mypy/xml/scripts/test-coverage-setup.py.xml
  reports/mypy/xml/scripts/validate-imports.py.xml
  reports/mypy/xml/scripts/validate-manifest.py.xml
  reports/mypy/xml/scripts/validate-module.py.xml
  reports/mypy/xml/scripts/validate-security.py.xml
  reports/mypy/xml/scripts/validate-xml.py.xml
  reports/pylint.txt
Due: none

🎯 Red Team Testing: Fix 10 Critical Odoo 18.0 Compatibility Bugs
  custom_modules/example_module/views/example_views.xml
  custom_modules/royal_textiles_sales/__init__.py
  custom_modules/royal_textiles_sales/__manifest__.py
  custom_modules/royal_textiles_sales/data/installation_demo.xml
  custom_modules/royal_textiles_sales/models/__init__.py
  custom_modules/royal_textiles_sales/models/installation.py
  custom_modules/royal_textiles_sales/models/sale_order.py
  custom_modules/royal_textiles_sales/security/ir.model.access.csv
  custom_modules/royal_textiles_sales/static/description/icon.png
  custom_modules/royal_textiles_sales/views/installation_menu.xml
  custom_modules/royal_textiles_sales/views/installation_views.xml
  custom_modules/royal_textiles_sales/views/sale_order_views.xml
  docker-compose.yml
  reports/flake8.json
  reports/flake8.txt
  reports/mypy/index.xml
  reports/mypy/xml/custom_modules/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/__manifest__.py.xml
  reports/mypy/xml/custom_modules/example_module/controllers/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/controllers/example_controller.py.xml
  reports/mypy/xml/custom_modules/example_module/models/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/models/example_model.py.xml
  reports/mypy/xml/custom_modules/example_module/tests/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/tests/test_example_model.py.xml
  reports/mypy/xml/scripts/debugpy-config.py.xml
  reports/mypy/xml/scripts/format-xml.py.xml
  reports/mypy/xml/scripts/odoo-type-checker.py.xml
  reports/mypy/xml/scripts/test-coverage-setup.py.xml
  reports/mypy/xml/scripts/validate-imports.py.xml
  reports/mypy/xml/scripts/validate-manifest.py.xml
  reports/mypy/xml/scripts/validate-module.py.xml
  reports/mypy/xml/scripts/validate-security.py.xml
  reports/mypy/xml/scripts/validate-xml.py.xml
  reports/pylint.txt
  reports/xml-validation.txt
Due: pylint-odoo, odoo-type-checker, validate-odoo-module, xml-format-odoo, validate-odoo-csv

🎯 Implement Enhanced Red Team Testing Framework
  Makefile
  custom_modules/royal_textiles_sales/data/installation_demo.xml
  custom_modules/royal_textiles_sales/models/sale_order.py
  custom_modules/royal_textiles_sales/views/installation_menu.xml
  custom_modules/royal_textiles_sales/views/installation_views.xml
  custom_modules/royal_textiles_sales/views/sale_order_views.xml
  docs/pre-deployment-checklist.md
  reports/mypy/index.xml
  reports/mypy/xml/custom_modules/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/__manifest__.py.xml
  reports/mypy/xml/custom_modules/example_module/controllers/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/controllers/example_controller.py.xml
  reports/mypy/xml/custom_modules/example_module/models/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/models/example_model.py.xml
  reports/mypy/xml/custom_modules/example_module/tests/__init__.py.xml
  reports/mypy/xml/custom_modules/example_module/tests/test_example_model.py.xml
  reports/mypy/xml/scripts/debugpy-config.py.xml
  reports/mypy/xml/scripts/format-xml.py.xml
  reports/mypy/xml/scripts/odoo-type-checker.py.xml
  reports/mypy/xml/scripts/test-coverage-setup.py.xml
  reports/mypy/xml/scripts/validate-imports.py.xml
  reports/mypy/xml/scripts/validate-manifest.py.xml
  reports/mypy/xml/scripts/validate-module.py.xml
  reports/mypy/xml/scripts/validate-security.py.xml
  reports/mypy/xml/scripts/validate-xml.py.xml
  reports/pylint.txt
  scripts/validate-odoo-18-compatibility.py
Due: pylint-odoo, odoo-type-checker, validate-odoo-module, xml-format-odoo

🎯 Add 12th Bug Type: Business Logic Constraint Validation
  scripts/validate-odoo-18-compatibility.py
Due: none

🎯 Add 13th Bug Type: Field Mapping Validation
  scripts/validate-odoo-18-compatibility.py
Due: none

🧹 Remove RTP references for public release
  custom_modules/royal_textiles_sales/__init__.py
  custom_modules/royal_textiles_sales/__manifest__.py
  custom_modules/royal_textiles_sales/data/installation_demo.xml
  custom_modules/royal_textiles_sales/models/__init__.py
  custom_modules/royal_textiles_sales/models/installation.py
  custom_modules/royal_textiles_sales/models/sale_order.py
  custom_modules/royal_textiles_sales/security/ir.model.access.csv
  custom_modules/royal_textiles_sales/static/description/icon.png
  custom_modules/royal_textiles_sales/views/installation_menu.xml
  custom_modules/royal_textiles_sales/views/installation_views.xml
  custom_modules/royal_textiles_sales/views/sale_order_views.xml
  scripts/configure-odoo.sh
  scripts/db-manager.sh
  scripts/validate-odoo-18-compatibility.py
Due: pylint-odoo, odoo-type-checker, validate-odoo-module, xml-format-odoo, validate-odoo-csv

🏷️ Rebrand to Odoo DevKit
  Makefile
  custom_modules/example_module/__manifest__.py
Due: pylint-odoo, odoo-type-checker, validate-odoo-module

feat: Add comprehensive Odoo 18 development improvements
  Makefile
  docs/ODOO_18_LESSONS_LEARNED.md
Due: none

feat: Add Odoo.sh module visibility validation and auto-generation
  Makefile
Due: none

Add comprehensive demo data validation lessons and tools
  docs/ODOO_18_LESSONS_LEARNED.md
  scripts/validate-demo-data.py
  templates/demo_data_template.xml
Due: none

Add comprehensive Royal Textiles demo data analysis
  docs/ROYAL_TEXTILES_DEMO_DATA_ANALYSIS.md
Due: none

Fix validation script model-specific field mapping and update documentation
  README.md
  scripts/validate-demo-data.py
Due: none

Major enhancement: Comprehensive local validation to avoid slow odoo.sh builds
  README.md
  scripts/pre-deployment-validation.py
  scripts/validate-demo-data.py
Due: none

PARADIGM SHIFT: Bulletproof validation system to eliminate odoo.sh failures
  docs/VALIDATION_FAILURE_ROOT_CAUSE_ANALYSIS.md
  scripts/bulletproof-validation.py
  scripts/odoo-dynamic-validation.py
Due: none

Complete bulletproof validation system with deployment success documentation
  README.md
  docs/DEPLOYMENT_SUCCESS_SUMMARY.md
Due: none

Add release notes for v2.0.0 bulletproof validation system
  RELEASE_NOTES.md
Due: none

Complete bulletproof validation ecosystem with CI/CD integration and scaling guides
  GITHUB_RELEASE_INSTRUCTIONS.md
  docs/SCALABLE_DEPLOYMENT_PROCESS.md
  docs/VALIDATION_KNOWLEDGE_BASE.md
  templates/github-actions-workflow.yml
  templates/pre-push-hook.sh
Due: none

Add comprehensive next steps summary for bulletproof validation system
  NEXT_STEPS_SUMMARY.md
Due: none

Fix validation system with AST-based field parser
  scripts/bulletproof-validation.py
  scripts/comprehensive-field-validator.py
  scripts/odoo-dynamic-validation.py
  scripts/odoo18-comprehensive-validation.py
  scripts/pre-deployment-validation.py
  scripts/validate-demo-data.py
Due: none

Enhance Odoo 18 compatibility validation with critical runtime checks
  README-Odoo18-Enhancements.md
  scripts/fix-code-quality.py
  scripts/fix-demo-naming.py
  scripts/fix-xml-wrappers.py
  scripts/validate-odoo18-critical-issues.py
Due: none

Path conditions:
  pylint-odoo: any of: ^custom_modules/.*\.py$, but not: (__manifest__|migrations)/.*\.py$
  odoo-type-checker: any of: ^custom_modules/.*\.py$
  validate-odoo-module: any of: ^custom_modules/
  xml-format-odoo: any of: ^custom_modules/.*\.xml$
  validate-odoo-csv: any of: ^custom_modules/.*\.csv$
